# Scheduler
CRON_INTERVAL=30m

# client Apis
ISAMS_CLIENT_ID=XXXXXXXXXX
ISAMS_CLIENT_SECRET=XXXXXXXXXX

# ZOHO Apis
ZOHO_CLIENT_ID=XXXXXXXXXX
ZOHO_CLIENT_SECRET=XXXXXXXXXX
ZOHO_REFRESH_TOKEN=XXXXXXXXXX
ZOHO_ORG_ID=XXXXXXXXXX
ZOHO_WORKSPACE_ID=XXXXXXXXXX
ZOHO_ENROLLMENT_VIEW_ID=XXXXXXXXXX
ZOHO_WITHDRAWAL_VIEW_ID=XXXXXXXXXX
ZOHO_FULL_NAME_PREFIX=XXXXXXXXXX

# database
DB_HOST=XXXXXXXXXX
DB_NAME=XXXXXXXXXX
DB_USER=XXXXXXXXXX
DB_PASSWORD=XXXXXXXXXX