# Scheduler
CRON_INTERVAL=30m

# NTFY TOPIC
NTFY_TOPIC=arcadia-local

# client Apis
ISAMS_CLIENT_ID=XXXXXXXXXX
ISAMS_CLIENT_SECRET=XXXXXXXXXX

# Zoho CRM
ZOHO_CRM_CLIENT_ID=XXXXXXXXXX
ZOHO_CRM_CLIENT_SECRET=XXXXXXXXXX
ZOHO_CRM_REFRESH_TOKEN=XXXXXXXXXX

# Zoho Bookings
ZOHO_BOOKINGS_CLIENT_ID=XXXXXXXXXX
ZOHO_BOOKINGS_CLIENT_SECRET=XXXXXXXXXX
ZOHO_BOOKINGS_REFRESH_TOKEN=XXXXXXXXXX
ZOHO_BOOKINGS_WORKSPACE_ID=XXXXXXXXXX

# ZOHO Apis
ZOHO_CLIENT_ID=XXXXXXXXXX
ZOHO_CLIENT_SECRET=XXXXXXXXXX
ZOHO_REFRESH_TOKEN=XXXXXXXXXX
ZOHO_ORG_ID=XXXXXXXXXX
ZOHO_WORKSPACE_ID=XXXXXXXXXX
ZOHO_ENROLLMENT_VIEW_ID=XXXXXXXXXX
ZOHO_WITHDRAWAL_VIEW_ID=XXXXXXXXXX
ZOHO_APPLICANT_VIEW_ID=XXXXXXXXXX
ZOHO_APPLICATION_FORM_VIEW_ID=XXXXXXXXXX
ZOHO_PROSPECT_FORM_VIEW_ID=XXXXXXXXXX
ZOHO_STUDENT_FORM_VIEW_ID=XXXXXXXXXX
ZOHO_TOUR_VIEW_ID=XXXXXXXXXX
ZOHO_FULL_NAME_PREFIX=XXXXXXXXXX

# database
DB_HOST=XXXXXXXXXX
DB_NAME=XXXXXXXXXX
DB_USER=XXXXXXXXXX
DB_PASSWORD=XXXXXXXXXX