# Scheduler
ENROLLMENT_CRON="25m"
WITHDRAWAL_CRON="30m"
APPLICANT_CRON="35m"
APPLICATION_FORM_CRON="40m"
PROSPECT_FORM_CRON="45m"
STUDENT_FORM_CRON="50m"
TOUR_CRON="55m"

# NTFY TOPIC
NTFY_TOPIC=arcadia-local

# client Apis
ISAMS_CLIENT_ID=XXXXXXXXXX
ISAMS_CLIENT_SECRET=XXXXXXXXXX

# Zoho CRM
ZOHO_CRM_CLIENT_ID=XXXXXXXXXX
ZOHO_CRM_CLIENT_SECRET=XXXXXXXXXX
ZOHO_CRM_REFRESH_TOKEN=XXXXXXXXXX

# Zoho Bookings
ZOHO_BOOKINGS_CLIENT_ID=XXXXXXXXXX
ZOHO_BOOKINGS_CLIENT_SECRET=XXXXXXXXXX
ZOHO_BOOKINGS_REFRESH_TOKEN=XXXXXXXXXX
ZOHO_BOOKINGS_TOUR_WORKSPACE_ID=XXXXXXXXXX
ZOHO_BOOKINGS_ASSESSMENT_WORKSPACE_ID=XXXXXXXXXX

# ZOHO Apis
ZOHO_CLIENT_ID=XXXXXXXXXX
ZOHO_CLIENT_SECRET=XXXXXXXXXX
ZOHO_REFRESH_TOKEN=XXXXXXXXXX
ZOHO_ORG_ID=XXXXXXXXXX
ZOHO_WORKSPACE_ID=XXXXXXXXXX
ZOHO_ENROLLMENT_VIEW_ID=XXXXXXXXXX
ZOHO_WITHDRAWAL_VIEW_ID=XXXXXXXXXX
ZOHO_APPLICANT_VIEW_ID=XXXXXXXXXX
ZOHO_APPLICATION_FORM_VIEW_ID=XXXXXXXXXX
ZOHO_PROSPECT_FORM_VIEW_ID=XXXXXXXXXX
ZOHO_STUDENT_FORM_VIEW_ID=XXXXXXXXXX
ZOHO_TOUR_VIEW_ID=XXXXXXXXXX
ZOHO_FULL_NAME_PREFIX=XXXXXXXXXX

# database
DB_HOST=XXXXXXXXXX
DB_NAME=XXXXXXXXXX
DB_USER=XXXXXXXXXX
DB_PASSWORD=XXXXXXXXXX